:root {
  --search-height: 74px;
}

@font-face {
  src: url('./inter-medium.woff2') format('woff2');
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
}

html,body {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  vertical-align: middle;
  font-family: inherit;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  background: none;
  color: inherit;
}

.root {
  width: 340px;
  height: 536px;
  overflow: hidden;
  font-size: 13px;
  line-height: 16px;
  font-family: Inter, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-weight: 500;
  color: #2D2D38;
}

.search {
  box-sizing: border-box;
  height: var(--search-height);
  padding: 16px 16px 12px;
  border-bottom: 1px solid #E6E6EC;
}

.search__select {
  margin-top: 8px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 22px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: inherit;
  background: none;
  outline: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input::-ms-input-placeholder {
  color: #A5A5B1;
}

.input:focus {
  outline: none;
}

.select {
  font-size: 12px;
  line-height: 15px;
}

.content {
  overflow: auto;
  height: calc(100% - 44px);
  max-height: calc(100% - 44px);
}

.content_loading {
  position: relative;
}

.content_loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0,.1);
}

.content_loading::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50vh;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border: 6px solid transparent;
  border-right-color: #fff;
  border-top-color: #fff;
  border-radius: 50%;
  animation: results__loading .5s infinite linear;
}

@keyframes results__loading {
  100% {
    transform: rotate(360deg);
  }
}

.content__empty-notice {
  display: none;
  margin: 0;
  padding: 8px 16px;
}

.content__deep-search-button {
  display: none;
  background: #18a0fb;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  margin: 0 16px;
}

.content__deep-search-button:hover {
  background: #44b3fc;
}

.content_deep-search-available .content__deep-search-button {
  display: inline-block;
}

.content_empty:not(.content_loading) .content__empty-notice {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__item {
  display: block;
  width: 100%;
  padding: 8px 16px 8px 36px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.list__item:hover, .list__item:focus, .list__item_focused {
  background: #f0f0f0;
}

.list__item::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -20px;
  margin-right: 4px;
  vertical-align: -3px;
  background: transparent center no-repeat;
}

/* AUTOGENERATED ICON STYLES START */

.list__item_type_arrow::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14%205h5v5h-1V6.707L5.354%2019.354l-.708-.707L17.293%206H14V5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_boolean-operation::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M4.5%204.5h10v10h-10z%22%2F%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M9.5%209.5h10v10h-10z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20d%3D%22M9%209h6v6H9z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_component-set::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12%203l4%204-4%204-4-4%204-4zm4%2014l-4-4-4%204%204%204%204-4zM7%208l4%204-4%204-4-4%204-4zm10%200l4%204-4%204-4-4%204-4z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_component::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12%203l4%204-4%204-4-4%204-4zm4%2014l-4-4-4%204%204%204%204-4zM7%208l4%204-4%204-4-4%204-4zm10%200l4%204-4%204-4-4%204-4z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_ellipse::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%228.5%22%20stroke%3D%22%23181818%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_frame::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M9%204H8v4H4v1h4v6H4v1h4v4h1v-4h6v4h1v-4h4v-1h-4V9h4V8h-4V4h-1v4H9V4zm6%2011V9H9v6h6z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_group::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%206V4h-2v1h1v1h1zM5%2018H4v2h2v-1H5v-1zM5%204h1v1H5v1H4V4h1zm0%204H4v3h1V8zm-1%205h1v3H4v-3zm16%206v-1h-1v1h-1v1h2v-1zm-1-6h1v3h-1v-3zm1-5h-1v3h1V8zM8%204h3v1H8V4zm8%200h-3v1h3V4zM8%2019h3v1H8v-1zm8%200h-3v1h3v-1z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_instance::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M12%203.707L20.293%2012%2012%2020.293%203.707%2012%2012%203.707z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_line::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4.646%2018.646l14-14%20.707.708-14%2014-.707-.707z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_page::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%205v15h12V7l-3-3H6v1zm8%200H7v14h10V8h-3V5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_polygon::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M20.17%2019.5H3.83L12%204.069%2020.17%2019.5z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_rectangle::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5%204H4v16h16V4H5zm14%201H5v14h14V5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_slice::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7%205V4h10v1H7zm13-1h-1v1h1V4zM5%207H4v10h1V7zM4%205V4h1v1H4zm0%2014v1h1v-1H4zM19%207h1v10h-1V7zM7%2019v1h10v-1H7zm12%200v1h1v-1h-1z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_star::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M10%2010l2-6%202%206h6l-5%203%202%206-5-4-5%204%202-6-5-3h6z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_text::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5%207V4h15v3h-1V5h-6v14h2v1h-5v-1h2V5H6v2H5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_vector::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Ccircle%20cx%3D%225%22%20cy%3D%2218%22%20r%3D%221.5%22%20stroke%3D%22%23181818%22%2F%3E%0A%20%20%3Ccircle%20cx%3D%2219%22%20cy%3D%226%22%20r%3D%221.5%22%20stroke%3D%22%23181818%22%2F%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M5.5%2016.5S8%208%2011%208.5s-.96%207.507%202%208c3%20.5%205.5-9%205.5-9%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

/* AUTOGENERATED ICON STYLES END */

.list__item_type_frame {
  font-weight: 700;
}

.list__item_type_component,
.list__item_type_component-set {
  color: #7b61ff;
  font-weight: 700;
}
