:root {
  --search-height: 112px;
}

@font-face {
  src: url('./inter-medium.woff2') format('woff2');
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
}

html,body {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
  font-family: inherit;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  background: none;
  color: inherit;
}

button[disabled], input[disabled] {
  pointer-events: none;
}

.root {
  position: relative;
  width: 340px;
  height: 536px;
  overflow: hidden;
  font-size: 13px;
  line-height: 16px;
  font-family: Inter, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-weight: 500;
  color: #2D2D38;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 2;
  top: var(--search-height);
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .9);
}

.overlay_visible {
  display: block;
}

.search {
  box-sizing: border-box;
  height: var(--search-height);
  padding: 16px 16px 12px;
  border-bottom: 1px solid #E6E6EC;
}

.search__filter {
  margin-top: 8px;
}

.search__deep-search-button {
  flex-shrink: 0;
}

.search__control-group {
  display: flex;
}

.search__tabs {
  margin-top: 12px;
}

.deep-search-button {
  position: relative;
  flex-shrink: 0;
  display: none;
  padding-left: 36px; /* input offset + icon size + icon offset */
  font-size: 12px;
  line-height: 22px;
  color: #18A0FB;
  background: #fff;
  overflow: visible;
}

.deep-search-button_visible {
  display: block;
}

.deep-search-button:hover {
  color: #0A86D9;
}

.deep-search-button:hover .deep-search-button__icon {
  animation: mining .3s 2;
  transform-origin: 70% 70%;
}

.deep-search-button__icon {
  position: absolute;
  top: -1px;
  left: 8px; /* input offset */
  fill: currentColor;
  stroke: currentColor;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 22px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: inherit;
  background: none;
  outline: none;
  border: 0;
  border-radius: 0;
}

.input::placeholder {
  color: #A5A5B1;
}

.input:focus {
  outline: none;
}

.select__button {
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.select__arrow {
  stroke: #A5A5B1;
  margin-left: 4px;
  transform-origin: 50% 60%; /* *harold* */
}

.select__button:hover,
.select__button:hover .select__arrow {
  color: #0A86D9;
  stroke: #0A86D9;
}

.select__body {
  display: none;
  position: absolute;
  z-index: 4;
  top: 34px;
  left: 12px;
  width: 200px;
  padding: 6px 0;
  background: #222;
  border-radius: 4px;
}

.select__item {
  padding: 6px 12px;
  line-height: 15px;
  color: #fff;
  cursor: pointer;
}

.select__item:hover {
  background: #18A0FB;
}

.select__item_selected {
  position: relative;
}

.select__item_selected::before {
  content: '';
  position: absolute;
  top: 11px;
  right: 12px;
  width: 7px;
  height: 5px;
  background: transparent center no-repeat;
}

.select__separator {
  height: 1px;
  margin: 6px 0;
  background: #383838;
}

.select__group {
  display: none;
}

.select_open .select__arrow {
  transform: rotateZ(180deg);
}

.select_open .select__body {
  display: block;
}

.tabs {
  display: flex;
  background-color: #F4F4F8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='23' fill='none'%3E%3Crect width='152' height='23' fill='%23fff' rx='4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: calc(var(--tabs-selected-item-index,  -1) * 100%);
  border: 2px solid #F4F4F8;
  border-radius: 6px;
}

.tabs_inited {
  transition: background-position .15s ease-in-out;
}

.tabs__button {
  flex-grow: 1;
  padding: 4px;
  font-size: 12px;
  line-height: 15px;
}

.tabs__button_selected {
  border-radius: 4px;
  pointer-events: none;
}

.tabs__button:not(.tabs__button_selected):hover {
  color: #737388;
}

.deep-search-preloader {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.deep-search-preloader_visible {
  display: block;
}

.deep-search-preloader__headline {
  font-size: 12px;
  line-height: 15px;
  color: #18A0FB;
}

.deep-search-preloader__icon {
  margin-right: 4px;
  margin-bottom: -7px;
  fill: currentColor;
  stroke: currentColor;
  animation: mining 1s infinite;
  transform-origin: 70% 70%;
}

@keyframes mining {
  0% {
    transform: rotateZ(0deg);
  }

  70% {
    transform: rotateZ(20deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.deep-search-preloader__progress {
  position: relative;
  width: 240px;
  height: 4px;
  margin-top: 12px;
  overflow: hidden;
  border-radius: 6px;
  background: #DAEBF7;
}

.deep-search-preloader__progress::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(var(--progress-fraction, 0));
  transform-origin: 0 0;
  transition: transform 1s ease-in-out;
  background: #18A0FB;
}

.content {
  position: relative;
  overflow: auto;
  height: calc(100% - var(--search-height));
  max-height: calc(100% - var(--search-height));
}

.global-preloader {
  --size: 34px;

  display: none;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  margin-left: calc(-1 * var(--size) / 2);
  margin-top: calc(-1 * var(--size) / 2);
  border: 4px solid #18A0FB;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spinning .5s infinite linear;
}

.global-preloader_visible {
  display: block;
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}

.empty-notice {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #A5A5B1;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.empty-notice__text {
  display: none;
  margin: 0;
}

.empty-notice_visible {
  display: block;
}

.empty-notice_type_global.empty-notice_visible .empty-notice__text_type_global,
.empty-notice_type_category.empty-notice_visible .empty-notice__text_type_category,
.empty-notice_type_categories.empty-notice_visible .empty-notice__text_type_categories,
.empty-notice_type_page.empty-notice_visible .empty-notice__text_type_page {
  display: block;
}

.empty-notice__search-button {
  all: inherit;
  display: inline;
  color: #000;
  cursor: pointer;
}

.empty-notice__search-button:hover {
  color: #0A86D9;
}

.toast {
  position: fixed;
  bottom: 12px;
  left: 0;
  right: 0;
  z-index: 3;
  margin: 0 auto;
  padding: 8px 12px;
  transform: translateY(calc(100% + 12px));
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  background: #18A0FB;
  border-radius: 6px;
  color: #FFFFFF;
  transition: transform .15s ease-out;
}

.toast_visible {
  transform: translateY(0px);
}

.results {
  padding: 0 0 6px;
}

.results:empty {
  padding: 0;
}

.list {
  margin-top: 4px;
}

.list__headline {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 8px 16px 8px;
  font-size: 10px;
  line-height: 12px;
  color: #A5A5B1;
  background: #fff;
}

.list__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__item {
  position: relative;
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 8px 16px 8px 48px;
  text-align: left;
}

.list__item-title {
  font-size: 13px;
  line-height: 16px;
}

.list__item-subtitle {
  font-size: 10px;
  line-height: 12px;
  color: #737388;
}

.list__empty-notice {
  padding: 12px 16px 16px;
  font-size: 13px;
  line-height: 16px;
  color: #A5A5B1;
}

.list__item:hover, .list__item:focus, .list__item_focused {
  background: #F4F4F8;
}

.list__item_selected, .list__item_selected:hover, .list__item_selected:focus {
  background: #DAEBF7;
}

.list__item::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 16px;
  width: 24px;
  height: 24px;
  background: transparent center no-repeat;
}

/* AUTOGENERATED ICON STYLES START */

.list__item_type_arrow::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14%205h5v5h-1V6.707L5.354%2019.354l-.708-.707L17.293%206H14V5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_boolean-operation::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M4.5%204.5h10v10h-10z%22%2F%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M9.5%209.5h10v10h-10z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20d%3D%22M9%209h6v6H9z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_component-set::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12%203l4%204-4%204-4-4%204-4zm4%2014l-4-4-4%204%204%204%204-4zM7%208l4%204-4%204-4-4%204-4zm10%200l4%204-4%204-4-4%204-4z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_component::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12%203l4%204-4%204-4-4%204-4zm4%2014l-4-4-4%204%204%204%204-4zM7%208l4%204-4%204-4-4%204-4zm10%200l4%204-4%204-4-4%204-4z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_ellipse::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%228.5%22%20stroke%3D%22%23181818%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_frame::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M9%204H8v4H4v1h4v6H4v1h4v4h1v-4h6v4h1v-4h4v-1h-4V9h4V8h-4V4h-1v4H9V4zm6%2011V9H9v6h6z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_group::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%206V4h-2v1h1v1h1zM5%2018H4v2h2v-1H5v-1zM5%204h1v1H5v1H4V4h1zm0%204H4v3h1V8zm-1%205h1v3H4v-3zm16%206v-1h-1v1h-1v1h2v-1zm-1-6h1v3h-1v-3zm1-5h-1v3h1V8zM8%204h3v1H8V4zm8%200h-3v1h3V4zM8%2019h3v1H8v-1zm8%200h-3v1h3v-1z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_instance::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M12%203.707L20.293%2012%2012%2020.293%203.707%2012%2012%203.707z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_line::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4.646%2018.646l14-14%20.707.708-14%2014-.707-.707z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_page::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%205v15h12V7l-3-3H6v1zm8%200H7v14h10V8h-3V5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_polygon::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M20.17%2019.5H3.83L12%204.069%2020.17%2019.5z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_rectangle::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5%204H4v16h16V4H5zm14%201H5v14h14V5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_slice::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7%205V4h10v1H7zm13-1h-1v1h1V4zM5%207H4v10h1V7zM4%205V4h1v1H4zm0%2014v1h1v-1H4zM19%207h1v10h-1V7zM7%2019v1h10v-1H7zm12%200v1h1v-1h-1z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_star::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M10%2010l2-6%202%206h6l-5%203%202%206-5-4-5%204%202-6-5-3h6z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_text::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill%3D%22%23181818%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5%207V4h15v3h-1V5h-6v14h2v1h-5v-1h2V5H6v2H5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.list__item_type_vector::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%0A%20%20%3Ccircle%20cx%3D%225%22%20cy%3D%2218%22%20r%3D%221.5%22%20stroke%3D%22%23181818%22%2F%3E%0A%20%20%3Ccircle%20cx%3D%2219%22%20cy%3D%226%22%20r%3D%221.5%22%20stroke%3D%22%23181818%22%2F%3E%0A%20%20%3Cpath%20stroke%3D%22%23181818%22%20d%3D%22M5.5%2016.5S8%208%2011%208.5s-.96%207.507%202%208c3%20.5%205.5-9%205.5-9%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

.select__item_selected::before {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229%22%20height%3D%227%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23fff%22%20d%3D%22M1%203.5L3.545%206%208%201%22%2F%3E%0A%3C%2Fsvg%3E%0A')
}

/* AUTOGENERATED ICON STYLES END */

